@import '@/styles/theme.scss';

.educationItem {
  &[onClick] {
    cursor: pointer;
  }
}

.cover {
  width: 166px;
  height: 99px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  border-radius: getThemeRadius('lg');
  background: linear-gradient(180deg, #96bfd6 0%, #7077ba 100%);
  &:hover .coverPlay {
    opacity: 1;
  }
}

.coverContent {
  position: absolute;
  left: 20.5px;
  top: 28px;
  user-select: none;
}

.coverPlay {
  position: absolute;
  z-index: 5;
  color: white;
  opacity: 0;
  transition: all 0.5s;
}

.coverPartTitle {
  color: white;
}

.coverTitle {
  font-weight: 700;
  color: white;
}

.title {
  font-size: 14px;
  font-weight: 700;
}

.description {
  font-size: 12px;
  color: getThemeColor('textNeutralSecondary');
  max-width: minmax(194px, auto);
  text-overflow: ellipsis;
  line-height: 160%;
}
