$extra-small-fs: 12px;
$extra-small-lh: 18px;

$base-fs: 14px;
$base-lh: 22px;

$small-fs: 12px;
$small-lh: 20px;

$large-fs: 16px;
$large-lh: 24px;

$extra-large-fs: 20px;
$extra-large-lh: 28px;

$capital-small-fs: 8px;
$capital-small-lh: 16px;

$capital-normal-fs: 10px;
$capital-normal-lh: 18px;

$capital-medium-fs: 12px;
$capital-medium-lh: 20px;

$capital-large-fs: 14px;
$capital-large-lh: 22px;

//Weight
$regular: 450;
$medium: 500;
$bold: 700;

//Heading
$h1-fs: 38px;
$h1-lh: 46px;

$h2-fs: 30px;
$h2-lh: 38px;

$h3-fs: 24px;
$h3-lh: 32px;

$h4-fs: 20px;
$h4-lh: 28px;

$h5-fs: 16px;
$h5-lh: 24px;
